In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [3]:
%ls

cleanovik.ipynb  test.csv  thesis.ipynb  train.csv

In [138]:
test_raw = pd.read_csv('test11.csv')
train_raw = pd.read_csv('train11.csv')

In [130]:
train_raw.head(15)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,0.118537,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,0.090799,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,0.133215,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,140647.565937

In [139]:
train_raw.Rooms.unique()

array([ 2.,  3.,  1.,  4., 10.,  0.,  5., 19.,  6.])

In [140]:
test_raw.Rooms.unique()

array([ 2.,  1.,  3.,  4.,  5.,  6.,  0., 17.])

In [7]:
train_raw.loc[train_raw.Square<10].head(15).index

Int64Index([212, 1316, 1608, 3280, 3413, 4853, 4900, 6392, 8030, 8283, 9294,
            9613],
           dtype='int64')

In [8]:
train_raw.loc[train_raw.Square<10].head(15)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,NaN,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,1.0,18,1.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,1.0,3,25.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,NaN,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,1.0,1,1.0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,1.0,8,19.0,2016,0.211401,B,B,9,1892,0,NaN,0,1,B,161379.067034
6392,14786,1,1.0,1.136859,4.525736,1.0,3,1.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,181434.825589
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,1.0,21,4.0,1977,0.069753,B,B,53,13670,4,NaN,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,438005.182323
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

In [36]:
a = np.random.random((10,2))
a

array([[0.43176445, 0.1355728 ],
       [0.90920587, 0.39070885],
       [0.78812405, 0.23458084],
       [0.2415321 , 0.39876369],
       [0.89784896, 0.58654575],
       [0.03177321, 0.05070828],
       [0.74860908, 0.41493463],
       [0.25123857, 0.46187333],
       [0.49482151, 0.6072937 ],
       [0.74706755, 0.6914005 ]])

In [37]:
a.shape

(10, 2)

In [38]:
df = pd.DataFrame(a, columns=["a", "b"])
df

          a         b
0  0.431764  0.135573
1  0.909206  0.390709
2  0.788124  0.234581
3  0.241532  0.398764
4  0.897849  0.586546
5  0.031773  0.050708
6  0.748609  0.414935
7  0.251239  0.461873
8  0.494822  0.607294
9  0.747068  0.691401

In [49]:
df.loc[df.index == 1, "a"] = 7

In [50]:
df

     a         b
0  1.0  0.135573
1  7.0  0.390709
2  5.0  0.234581
3  5.0  0.398764
4  2.0  0.586546
5  2.0  0.050708
6  4.0  0.414935
7  9.0  0.461873
8  9.0  0.607294
9  3.0  0.691401

In [52]:
df = pd.read_pickle('tst.pkl')

In [71]:
df

         a         b
0      1.0  0.135573
1      7.0  0.390709
2      5.0  0.234581
3      5.0  0.398764
4      2.0  0.586546
5      2.0  0.050708
6      4.0  0.414935
7      9.0  0.461873
8   1589.0  0.607294
9  21589.0  0.691401

In [66]:
df.loc[df.index == 9, "a"] = 21589

In [67]:
pd.get_dummies(df, columns=["a"])

          b  a_1.0  a_2.0  a_4.0  a_5.0  a_7.0  a_9.0  a_1589.0  a_21589.0
0  0.135573      1      0      0      0      0      0         0          0
1  0.390709      0      0      0      0      1      0         0          0
2  0.234581      0      0      0      1      0      0         0          0
3  0.398764      0      0      0      1      0      0         0          0
4  0.586546      0      1      0      0      0      0         0          0
5  0.050708      0      1      0      0      0      0         0          0
6  0.414935      0      0      1      0      0      0         0          0
7  0.461873      0      0      0      0      0      1         0          0
8  0.607294      0      0      0      0      0      0         1          0
9  0.691401      0      0      0      0      0      0         0          1

In [68]:
import category_encoders as ce

In [69]:
encoder = ce.BinaryEncoder(cols=['a'])

In [70]:
encoder.fit_transform(df)

   a_0  a_1  a_2  a_3         b
0    0    0    0    1  0.135573
1    0    0    1    0  0.390709
2    0    0    1    1  0.234581
3    0    0    1    1  0.398764
4    0    1    0    0  0.586546
5    0    1    0    0  0.050708
6    0    1    0    1  0.414935
7    0    1    1    0  0.461873
8    0    1    1    1  0.607294
9    1    0    0    0  0.691401

In [73]:
b = np.random.random((10,2))
df2 = pd.DataFrame(b, columns=["a", "b"])
df2.a = np.random.randint(15, size=10)
df2

    a         b
0   6  0.795882
1  13  0.041394
2   0  0.227609
3   7  0.376981
4   6  0.937977
5   7  0.139576
6   5  0.355221
7  11  0.867114
8  14  0.152207
9  13  0.137391

In [74]:
encoder.transform(df2)

   a_0  a_1  a_2  a_3         b
0    0    0    0    0  0.795882
1    0    0    0    0  0.041394
2    0    0    0    0  0.227609
3    0    0    1    0  0.376981
4    0    0    0    0  0.937977
5    0    0    1    0  0.139576
6    0    0    1    1  0.355221
7    0    0    0    0  0.867114
8    0    0    0    0  0.152207
9    0    0    0    0  0.137391

In [79]:
A = np.random.random((10,2))
dfA = pd.DataFrame(A, columns=["a", "b"])
dfA.a = np.random.randint(15, size=10)
dfA

    a         b
0   6  0.721564
1   8  0.309470
2  11  0.485086
3   2  0.027284
4   9  0.843993
5   7  0.135100
6   2  0.401311
7   0  0.357653
8   9  0.561368
9   2  0.449891

In [80]:
B = np.random.random((10,2))
dfB = pd.DataFrame(B, columns=["a", "b"])
dfB.a = np.random.randint(15, size=10)
dfB

    a         b
0   6  0.989341
1   8  0.399716
2   2  0.807206
3  13  0.553628
4  14  0.398787
5   7  0.538260
6   4  0.460444
7  14  0.373012
8   4  0.587786
9   0  0.325610

In [90]:
dfC = pd.concat([dfA, dfB])
dfC

    a         b
0   6  0.721564
1   8  0.309470
2  11  0.485086
3   2  0.027284
4   9  0.843993
5   7  0.135100
6   2  0.401311
7   0  0.357653
8   9  0.561368
9   2  0.449891
0   6  0.989341
1   8  0.399716
2   2  0.807206
3  13  0.553628
4  14  0.398787
5   7  0.538260
6   4  0.460444
7  14  0.373012
8   4  0.587786
9   0  0.325610

In [91]:
encoder = ce.BinaryEncoder(cols=["a"])

In [92]:
dfC_scaled = encoder.fit_transform(dfC)
dfC_scaled

   a_0  a_1  a_2  a_3  a_4         b
0    0    0    0    0    1  0.721564
1    0    0    0    1    0  0.309470
2    0    0    0    1    1  0.485086
3    0    0    1    0    0  0.027284
4    0    0    1    0    1  0.843993
5    0    0    1    1    0  0.135100
6    0    0    1    0    0  0.401311
7    0    0    1    1    1  0.357653
8    0    0    1    0    1  0.561368
9    0    0    1    0    0  0.449891
0    0    0    0    0    1  0.989341
1    0    0    0    1    0  0.399716
2    0    0    1    0    0  0.807206
3    0    1    0    0    0  0.553628
4    0    1    0    0    1  0.398787
5    0    0    1    1    0  0.538260
6    0    1    0    1    0  0.460444
7    0    1    0    0    1  0.373012
8    0    1    0    1    0  0.587786
9    0    0    1    1    1  0.325610

In [93]:
dfA_scaled = encoder.transform(dfA)
dfA_scaled

   a_0  a_1  a_2  a_3  a_4         b
0    0    0    0    0    1  0.721564
1    0    0    0    1    0  0.309470
2    0    0    0    1    1  0.485086
3    0    0    1    0    0  0.027284
4    0    0    1    0    1  0.843993
5    0    0    1    1    0  0.135100
6    0    0    1    0    0  0.401311
7    0    0    1    1    1  0.357653
8    0    0    1    0    1  0.561368
9    0    0    1    0    0  0.449891

In [95]:
dfB_scaled = encoder.transform(dfB)
dfB_scaled

   a_0  a_1  a_2  a_3  a_4         b
0    0    0    0    0    1  0.989341
1    0    0    0    1    0  0.399716
2    0    0    1    0    0  0.807206
3    0    1    0    0    0  0.553628
4    0    1    0    0    1  0.398787
5    0    0    1    1    0  0.538260
6    0    1    0    1    0  0.460444
7    0    1    0    0    1  0.373012
8    0    1    0    1    0  0.587786
9    0    0    1    1    1  0.325610

In [104]:
dfA_scaled.equals(dfC_scaled.iloc[:10, :])

True

In [103]:
dfC_scaled.iloc[:10, :]

   a_0  a_1  a_2  a_3  a_4         b
0    0    0    0    0    1  0.721564
1    0    0    0    1    0  0.309470
2    0    0    0    1    1  0.485086
3    0    0    1    0    0  0.027284
4    0    0    1    0    1  0.843993
5    0    0    1    1    0  0.135100
6    0    0    1    0    0  0.401311
7    0    0    1    1    1  0.357653
8    0    0    1    0    1  0.561368
9    0    0    1    0    0  0.449891

In [106]:
D = np.random.random((10,3))
dfD = pd.DataFrame(D, columns=["a", "b", "c"])
dfD.a = np.random.randint(15, size=10)
dfD

    a         b         c
0  12  0.546020  0.006673
1  13  0.508118  0.568543
2  13  0.615521  0.993419
3  12  0.269744  0.657272
4   4  0.688302  0.866329
5   5  0.275356  0.797936
6   4  0.779577  0.325017
7   1  0.599906  0.476426
8   2  0.769548  0.427044
9  13  0.070869  0.757525

In [110]:
encoder.inverse_transform(dfC_scaled)

          b   a
0  0.721564   6
1  0.309470   8
2  0.485086  11
3  0.027284   2
4  0.843993   9
5  0.135100   7
6  0.401311   2
7  0.357653   0
8  0.561368   9
9  0.449891   2
0  0.989341   6
1  0.399716   8
2  0.807206   2
3  0.553628  13
4  0.398787  14
5  0.538260   7
6  0.460444   4
7  0.373012  14
8  0.587786   4
9  0.325610   0

In [112]:
dfC_scaled['Jopa'] = -2

In [113]:
dfC_scaled

   a_0  a_1  a_2  a_3  a_4         b  Jopa
0    0    0    0    0    1  0.721564    -2
1    0    0    0    1    0  0.309470    -2
2    0    0    0    1    1  0.485086    -2
3    0    0    1    0    0  0.027284    -2
4    0    0    1    0    1  0.843993    -2
5    0    0    1    1    0  0.135100    -2
6    0    0    1    0    0  0.401311    -2
7    0    0    1    1    1  0.357653    -2
8    0    0    1    0    1  0.561368    -2
9    0    0    1    0    0  0.449891    -2
0    0    0    0    0    1  0.989341    -2
1    0    0    0    1    0  0.399716    -2
2    0    0    1    0    0  0.807206    -2
3    0    1    0    0    0  0.553628    -2
4    0    1    0    0    1  0.398787    -2
5    0    0    1    1    0  0.538260    -2
6    0    1    0    1    0  0.460444    -2
7    0    1    0    0    1  0.373012    -2
8    0    1    0    1    0  0.587786    -2
9    0    0    1    1    1  0.325610    -2

In [119]:
encoder.inverse_transform(dfC_scaled.drop(columns=["Jopa"]))

          b   a
0  0.721564   6
1  0.309470   8
2  0.485086  11
3  0.027284   2
4  0.843993   9
5  0.135100   7
6  0.401311   2
7  0.357653   0
8  0.561368   9
9  0.449891   2
0  0.989341   6
1  0.399716   8
2  0.807206   2
3  0.553628  13
4  0.398787  14
5  0.538260   7
6  0.460444   4
7  0.373012  14
8  0.587786   4
9  0.325610   0

In [120]:
D = np.random.random((10,3))
dfD = pd.DataFrame(D, columns=["a", "b", "c"])
dfD.a = np.random.randint(15, size=10)
dfD

    a         b         c
0   5  0.197489  0.813228
1   0  0.882535  0.378738
2  11  0.169494  0.731787
3   3  0.668454  0.706004
4  14  0.672262  0.423663
5   6  0.823232  0.220490
6   7  0.015874  0.675269
7  11  0.295308  0.560776
8   4  0.976535  0.250512
9   8  0.786195  0.894658

In [122]:
dfD.loc[dfD.index > 2] = 1

In [123]:
dfD

   a    b    c
0  0  0.0  0.0
1  0  0.0  0.0
2  0  0.0  0.0
3  1  1.0  1.0
4  1  1.0  1.0
5  1  1.0  1.0
6  1  1.0  1.0
7  1  1.0  1.0
8  1  1.0  1.0
9  1  1.0  1.0

In [124]:
tst_encoder = ce.BinaryEncoder(cols=["a"])

In [127]:
L = tst_encoder.fit_transform(dfD)
L

   a_0  a_1    b    c
0    0    1  0.0  0.0
1    0    1  0.0  0.0
2    0    1  0.0  0.0
3    1    0  1.0  1.0
4    1    0  1.0  1.0
5    1    0  1.0  1.0
6    1    0  1.0  1.0
7    1    0  1.0  1.0
8    1    0  1.0  1.0
9    1    0  1.0  1.0

In [128]:
tst_encoder.inverse_transform(L)

     b    c  a
0  0.0  0.0  0
1  0.0  0.0  0
2  0.0  0.0  0
3  1.0  1.0  1
4  1.0  1.0  1
5  1.0  1.0  1
6  1.0  1.0  1
7  1.0  1.0  1
8  1.0  1.0  1
9  1.0  1.0  1