In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
%ls

 Том в устройстве E имеет метку Новый том
 Серийный номер тома: C01F-4EE3

 Содержимое папки E:\GeekBrains\Python для Data Science\GeekBrains_AI_Python_for_data_science\CourseProject

13.02.2019  23:43    <DIR>          .
13.02.2019  23:43    <DIR>          ..
13.02.2019  23:43    <DIR>          .ipynb_checkpoints
13.02.2019  23:39           500 428 test.csv
13.02.2019  23:42               555 thesis.ipynb
13.02.2019  23:40         1 185 934 train.csv
               3 файлов      1 686 917 байт
               3 папок  167 564 091 392 байт свободно

In [3]:
test_raw = pd.read_csv('test.csv')
train_raw = pd.read_csv('train.csv')

In [8]:
train_raw.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [9]:
train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [10]:
test_raw.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A

In [11]:
test_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [14]:
train_raw.loc[train_raw.LifeSquare>train_raw.Square]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,0.034656,B,B,0,168,0,NaN,0,0,B,95338.198549
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,NaN,0,1,B,199215.452229
123,8753,25,3.0,85.952306,89.803753,1.0,4,3.0,2017,0.069753,B,B,53,13670,4,NaN,1,11,B,309688.592681
153,9870,62,1.0,51.831473,53.491301,1.0,5,1.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,131797.472284
178,2416,57,1.0,29.298168,29.770784,5.0,7,5.0,1964,0.133215,B,B,49,11395,3,1406.0,3,4,A,148991.265200
184,3398,74,1.0,48.743665,51.011232,1.0,12,20.0,2017,0.075779,B,B,6,1437,3,NaN,0,2,B,165071.825722
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,NaN,3,9,B,412511.088764
217,5540,27,3.0,57.643613,59.425078,9.0,16,10.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,198351.892455
234,12633,27,3.0,81.867166,81.884548,0.0,12,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,182228.520030
236,3916,1,1.0,43.084413,47.071617,1.0,9,7.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B,169749.173815
237,3851,52,2.0,65.388475,66.591815,1.0,13,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,180706.641204
271,7674,30,2.0,51.283020,51.575295,1.0,5,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,174735.177184
315,14899,27,1.0,37.370830,39.184607,1.0,25,1.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,126997.374189
342,7815,6,1.0,74.609609,78.533293,1.0,16,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216181.637056
343,716,113,3.0,125.287183,127.477137,19.0,26,24.0,2017,0.050756,B,B,24,5469,1,145.0,0,1,B,522197.035995
358,6006,62,3.0,121.844004,122.497641,1.0,3,3.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,193847.642016
369,61,1,1.0,54.307727,55.926217,1.0,4,1.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B,170313.288861
378,15443,1,1.0,37.885188,40.313322,10.0,12,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,142654.169709
379,8104,52,1.0,37.496336,38.964704,10.0,7,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,105567.296556
392,15246,1,2.0,64.067854,65.081193,1.0,12,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,219119.838433
401,2123,58,3.0,93.905616,94.958481,1.0,3,12.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,209500.276014
478,10391,62,1.0,37.498161,40.371530,1.0,21,25.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,131037.880968
495,10071,27,2.0,34.665783,36.079447,9.0,3,12.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A,103182.855154
498,12796,6,1.0,59.816412,60.823136,1.0,24,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,175042.816715
506,9552,23,1.0,105.432181,106.178175,0.0,3,2.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,218718.046451
544,2467,23,3.0,63.837671,64.300575,1.0,4,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,131822.840338
554,5738,52,2.0,66.795666,67.051654,1.0,3,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,163644.441984
561,11692,113,2.0,70.566571,70.694221,12.0,28,30.0,2014,0.050756,B,B,24,5469,1,145.0,0,1,B,333862.631152
574,14211,48,1.0,39.357596,40.015989,1.0,21,25.0,2017,0.041125,B,B,46,9515,5,NaN,1,10,B,220648.501332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,13789,23,1.0,29.289544,30.492156,0.0,3,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,74202.154932
9484,10374,54,2.0,78.061116,82.171479,1.0,10,1.0,2017,0.006076,B,B,30,5285,0,645.0,6,6,B,426958.079415
9492,5367,1,3.0,81.227389,81.655818,0.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,218595.265514
9582,3414,6,2.0,60.913076,63.262528,1.0,3,25.0,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,188798.096524
9584,8403,9,2.0,56.690554,56.917296,1.0,8,9.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,178622.857430
9589,16638,38,1.0,106.260300,109.246660,1.0,4,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,509162.416594
9594,7113,62,1.0,43.906426,44.082779,1.0,13,12.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A,113398.504559
9595,7249,6,3.0,73.171947,74.858927,1.0,7,1.0,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,198935.416918
9597,833,27,1.0,44.260288,45.602761,10.0,3,7.0,2015,0.011654,B,B,4,915,0,NaN,0,0,B,127451.321192
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9626,3742,1,1.0,53.258610,56.655126,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,161799.240623
9630,10021,27,1.0,41.755282,41.857484,1.0,13,20.0,2014,0.211401,B,B,9,1892,0,NaN,0,1,B,94667.059626
9646,6996,23,2.0,53.054415,54.677693,1.0,3,12.0,2017,0.034656,B,B,0,168,0,NaN,0,0,B,113758.662147
9681,47,2,2.0,45.053898,47.329346,5.0,2,5.0,1967,0.000000,B,B,33,7425,1,NaN,2,5,B,196512.596034
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9721,396,54,3.0,110.119100,110.333763,1.0,8,1.0,2015,0.006076,B,B,30,5285,0,645.0,6,6,B,491296.245173
9742,9941,46,3.0,64.642890,66.400030,6.0,6,17.0,1981,0.188784,B,B,31,6137,4,NaN,0,1,B,283398.090350
9772,6968,6,3.0,74.505045,75.735479,1.0,15,22.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,210702.868554
9793,5766,1,3.0,80.006748,83.793062,0.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,235519.716480
9799,7483,27,1.0,37.590772,41.074410,1.0,5,19.0,2017,0.211401,B,B,9,1892,0,NaN,0,1,B,95145.924046
9807,10088,30,1.0,37.191204,37.837798,1.0,17,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,147568.713397
9826,5270,6,1.0,39.485203,39.525667,1.0,16,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,124034.514085
9864,8807,38,1.0,46.905050,49.715060,10.0,8,17.0,2019,0.060753,B,B,15,2787,2,520.0,0,7,B,256650.658085
9871,6121,48,1.0,41.783808,41.944790,1.0,17,1.0,2014,0.041125,B,B,46,9515,5,NaN,1,10,B,200879.624324
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,158841.624543
9884,41,30,2.0,59.015896,59.439082,12.0,5,5.0,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B,126281.142781
9889,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,NaN,0,0,B,88150.012510
9895,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,NaN,0,0,B,234194.837047
9902,14001,73,1.0,44.098768,44.267551,1.0,7,24.0,2014,0.042032,B,B,37,6856,84,1940.0,2,5,B,381937.404161
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,NaN,1,4,B,528560.506016

In [15]:
test_raw.loc[test_raw.LifeSquare>test_raw.Square]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B
39,6624,27,1.0,42.413793,42.434887,10.0,12,17.0,2017,0.011654,B,B,4,915,0,NaN,0,0,B
43,11513,1,1.0,37.484057,40.593036,0.0,4,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
70,1872,30,2.0,52.449057,52.798349,1.0,17,17.0,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B
102,10749,6,2.0,65.582572,66.675758,1.0,4,2.0,2017,0.243205,B,B,5,1564,0,540.0,0,0,B
143,3895,21,1.0,36.514818,37.209976,7.0,10,9.0,1973,0.194489,B,B,47,8004,3,125.0,3,5,B
206,16055,62,3.0,108.218901,108.272277,10.0,4,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A
261,16000,27,2.0,66.929231,68.087510,12.0,4,17.0,2018,0.072158,B,B,2,629,1,NaN,0,0,A
272,9887,1,2.0,53.658350,54.975247,10.0,10,17.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B
284,256,6,1.0,38.870525,41.172814,1.0,9,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B
311,5551,30,3.0,86.698553,88.589150,1.0,9,12.0,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B
331,3288,34,2.0,57.210758,57.606464,10.0,22,25.0,2017,0.069753,B,B,53,13670,4,NaN,1,11,B
337,1320,23,2.0,54.350505,57.376990,1.0,4,3.0,1977,0.005767,B,B,1,388,0,NaN,0,0,B
340,5017,27,2.0,57.331148,58.709650,0.0,4,17.0,2018,0.011654,B,B,4,915,0,NaN,0,0,B
358,8205,1,3.0,75.541672,76.511240,0.0,15,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
365,15028,27,2.0,42.408734,44.430314,1.0,9,1.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A
410,11533,94,2.0,48.713443,303.071094,6.0,5,12.0,1974,0.521867,B,B,25,6149,0,NaN,0,0,B
461,7431,1,3.0,85.628258,88.544990,1.0,13,20.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
499,16274,113,1.0,103.763434,104.926922,1.0,21,20.0,2014,0.050756,B,B,24,5469,1,145.0,0,1,B
532,15265,30,1.0,46.183583,48.806486,0.0,4,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B
533,2740,27,1.0,45.079731,45.367920,10.0,15,17.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A
542,117,59,4.0,121.225250,122.180548,1.0,21,1.0,2016,0.000000,B,B,18,3374,5,620.0,1,2,B
577,7240,52,2.0,62.221256,64.935542,10.0,11,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B
605,11427,23,2.0,47.362595,49.554394,10.0,14,12.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B
608,16401,30,1.0,2.645046,4.338755,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B
625,2249,62,1.0,77.157675,78.281763,34.0,5,24.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A
713,3248,23,1.0,42.788999,43.557219,0.0,3,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
760,7843,1,1.0,49.033079,50.817885,9.0,11,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
790,7555,1,2.0,64.090708,65.297206,12.0,2,9.0,2018,0.007122,B,B,1,264,0,NaN,0,1,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186,9198,6,1.0,38.274863,40.968843,1.0,3,17.0,2015,0.243205,B,B,5,1564,0,540.0,0,0,B
4239,10869,23,3.0,78.001888,82.566322,1.0,21,25.0,2015,0.075779,B,B,6,1437,3,NaN,0,2,B
4274,6580,1,1.0,66.077466,66.435231,1.0,15,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
4298,13851,37,2.0,55.268653,57.789532,10.0,16,17.0,2015,0.178917,B,B,18,3594,4,192.0,1,5,B
4308,15509,27,2.0,55.439861,57.527243,10.0,15,17.0,2016,0.011654,B,B,4,915,0,NaN,0,0,B
4317,12751,1,1.0,40.975606,43.489394,8.0,14,14.0,1990,0.025609,B,B,33,5261,0,240.0,3,1,B
4326,13404,23,1.0,38.102906,40.731161,1.0,7,17.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B
4371,16563,52,1.0,40.709074,41.243693,1.0,4,10.0,2015,0.371149,B,B,34,7065,1,750.0,2,5,B
4373,13847,53,1.0,38.620205,40.663508,1.0,21,19.0,2016,0.049637,B,B,34,7759,0,229.0,1,3,B
4394,9,6,1.0,38.800420,42.560690,1.0,3,17.0,2017,0.243205,B,B,5,1564,0,540.0,0,0,B
4405,5199,27,2.0,59.054990,61.647531,57.0,13,12.0,2016,0.211401,B,B,9,1892,0,NaN,0,1,B
4416,6720,27,3.0,81.877326,83.308259,10.0,16,17.0,2016,0.011654,B,B,4,915,0,NaN,0,0,B
4422,1,1,2.0,83.061098,83.830248,0.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
4441,986,14,3.0,59.204738,61.858134,5.0,6,9.0,1976,0.042032,B,B,37,6856,84,1940.0,2,5,B
4483,13139,53,2.0,57.007214,58.897823,1.0,10,18.0,2019,0.049637,B,B,34,7759,0,229.0,1,3,B
4592,8236,48,2.0,80.613713,82.491799,1.0,20,1.0,2014,0.041125,B,B,46,9515,5,NaN,1,10,B
4615,11504,30,1.0,49.180145,49.248127,1.0,11,1.0,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B
4625,14540,6,3.0,75.795309,76.625451,1.0,12,17.0,2016,0.243205,B,B,5,1564,0,540.0,0,0,B
4688,14916,6,2.0,52.324149,52.928465,9.0,5,17.0,2015,0.243205,B,B,5,1564,0,540.0,0,0,B
4713,170,6,2.0,2.900586,61.468563,1.0,18,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B
4733,4881,1,2.0,64.599009,66.508999,1.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
4762,14796,52,2.0,53.006471,53.744339,10.0,12,17.0,2017,0.371149,B,B,34,7065,1,750.0,2,5,B
4779,5152,23,1.0,36.330427,39.790094,0.0,6,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B
4814,1630,62,2.0,77.789961,80.935397,10.0,12,17.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A
4902,1420,45,1.0,1.975769,2.900371,1.0,1,1.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B
4927,14686,1,3.0,77.229885,79.958685,1.0,18,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
4951,3711,94,1.0,41.281057,42.392594,10.0,13,13.0,2014,0.282798,B,B,33,8667,2,NaN,0,6,B
4962,5820,94,1.0,33.680382,34.198977,1.0,10,9.0,1972,0.127376,B,B,43,8429,3,NaN,3,9,B
4969,4821,74,2.0,82.542507,82.585069,0.0,4,17.0,2015,0.309479,B,B,35,7715,4,990.0,0,6,B
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B